{% extends 'base.html' %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<h2>{{ post.title }}</h2>
<a href="{% url 'category' post.category %}">{{ post.category }}</a>
<strong>I`m post.category: {{ post.category }}</strong>
<br/>
<small>By: 
    {{ post.author.first_name }}
    {{ post.author.last_name }} - 
    {{ post.post_date }}
    {% if user.is_authenticated %}
      {% if user.id == post.author.id %} 
        - <a href="{% url 'update_post' post.pk %}">Edit</a> | 
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
      {% endif %}
    {% endif %}
    <br/>
</small>
<hr>
<p>{{ post.body|safe }}</p>
<br/>
<a href="{% url 'home' %}" class="btn btn-dark">Back</a>
<br/><br/>
{% if user.is_authenticated %}
  <hr>
  <form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}    
    {% if liked %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
        Unlike
      </button>
    {% else %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
        Like
      </button>
    {% endif %}
  </form>
{% else %}
  <small>You must <a href="{% url 'my_login' %}">login</a> to like posts</small>
  <br/><br/>
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-info" disabled>
    Like
  </button>
{% endif %}
{{ total_likes }} likes
{% endblock %}