{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<h2>{{ post.title }}</h2>
<br/>
<small>By: 
    {{ post.author.first_name }}
    {{ post.author.last_name }} - 
    {{ post.post_date }}
    {% if user.is_authenticated %}
      {% if user.id == post.author.id %} 
        - <a href="{% url 'update_post' post.pk %}">Edit</a> | 
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
      {% endif %}
    {% endif %}
    <br/>
</small>
<hr>
{% if post.header_image %}
  <img class="mw-100" src='{{ post.header_image.url }}'>
  <br/><br/>
{% endif %}
<p>{{ post.body|safe }}</p>
<br/>
{% if user.is_authenticated %}
  <hr>
  <form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}    
    {% if liked %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
        Unlike
      </button>
    {% else %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
        Like
      </button>
    {% endif %}
  </form>
{% else %}
  <small>You must <a href="{% url 'my_login' %}">login</a> to like posts</small>
  <br/><br/>
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-info" disabled>
    Like
  </button>
{% endif %}
{{ total_likes }} likes
<br/><br/>
{% if post.author.profile %}
  <div class="card mb-3">
    <div class="row g-0">
      {% if post.author.profile.profile_pic %}
        <div class="col-md-2">
          <img src="{{ post.author.profile.profile_pic.url}}" class="img-fluid rounded-start" alt="profile image">
        </div>
      {% else %}
      <div class="col-md-2">
        <img src="{% static 'theblog/images/user-profile-default-image.png' %}" class="img-fluid rounded-start" alt="profile image">
      </div>
      {% endif %}
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">
            {{ post.author.first_name }}
            {{ post.author.last_name }}
          </h5>
            <p class="small text-muted">
              <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile page</a> |
              {% if post.author.profile.website_url %}
                <a href="{{ post.author.profile.website_url }}">Website</a> |
              {% endif %}
              {% if post.author.profile.email %}
                Email: {{ post.author.profile.email }}
              {% endif %}
            </p>
            <p class="card-text">{{ post.author.profile.bio }}</p>
          
        </div>
      </div>
    </div>
  </div>
{% endif %}
<br/>
<h3>Comments:</h3>
<br/>
{% if not post.comments.all %}
  <p>No comments yet</p>
  <a href="{% url 'add_comment' post.pk %}"> Add one</a>
{% else %}
  <a href="{% url 'add_comment' post.pk %}">Add comment</a>
  <br/><br/>
  {% for comment in post.comments.all %}
    <strong>
      {{ comment.name }} -
      {{ comment.date_added }}
  </strong>
  <br/>
  {{ comment.body }}
  <br/>
  {% endfor %}
{% endif %}
{% endblock %}